<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal-close-btn close"></button>

    <div class="modal-wrapper">
      <!-- <div class="modal-img-container"> -->
      <img
        class="modal__img"
        src="https://themoviedb.org/t/p/w500/ci5A9TPmNajMxt1L8p4KlZ76sc9.jpg"
        alt=""
        data=""
      />
      <!-- </div> -->
      <div class="modal-info">
        <h2 class="modal__film-title uppercase-text">A fistful of lead</h2>

        <div class="modal-short-info">
          <ul class="modal-short-info__name-list list">
            <li class="modal-short-info__name-item js-lang-vote">Vote&nbsp;/&nbsp;Votes</li>
            <li class="modal-short-info__name-item js-lang-popularity">Popularity</li>
            <li class="modal-short-info__name-item js-lang-title">Original Title</li>
            <li class="modal-short-info__name-item js-lang-genre">Genre</li>
            <li class="modal-short-info__name-item js-lang-trailer">Trailer</li>
          </ul>

          <ul class="modal-short-info__description-list list">
            <li class="modal-short-info__description-item">
              <span class="modal-vote modal-vote--orange">7.6</span> /
              <span class="modal-vote modal-vote--grey">1260</span>
            </li>
            <li
              class="modal-short-info__description-item modal-short-info__description-item--popularity"
            >
              100.2
            </li>
            <li
              class="modal-short-info__description-item modal-short-info__description-item--original-title uppercase-text"
            >
              A fistful of lead
            </li>
            <li
              class="modal-short-info__description-item modal-short-info__description-item--ganre card__item-genres"
            >
              Western
            </li>
            <li
              class="modal-short-info__description-item modal-short-info__description-item--ganre"
            >
              <button class="js-modal-trailer">
                <img class="img-trailer" src="./images/youtube.svg" alt="YouTube" height="15" />
              </button>
            </li>
          </ul>
        </div>
        <h3 class="modal__about-title uppercase-text js-lang-about">About</h3>
        <div class="modal-about-text-wrapper">
          <p class="modal__about-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium aut animi vel cum.
            Non, odit dolores. Dolorum quasi culpa illo necessitatibus et quae! Atque, odio unde
            error praesentium nam suscipit quas? Nam, soluta, aut eveniet praesentium odit non velit
            repudiandae temporibus laborum exercitationem minus ea corrupti repellat error aliquam
            obcaecati quam aspernatur pariatur voluptatum repellendus similique, alias veniam! Esse
            officiis illo possimus accusamus excepturi molestias, beatae consectetur nisi
            perferendis minus. Assumenda quod at cumque modi quo, repellat minus sed similique animi
            nesciunt dolor, velit explicabo, reprehenderit temporibus quis amet autem. Soluta
            maiores illum autem iusto minus quisquam unde aut deserunt?
          </p>
        </div>

        <ul class="modal-buttons-add-list list">
          <li class="modal-buttons-add-item">
            <button
              class="modal-btn-add card__btn-watched header-btn-add--watched uppercase-text js-watched"
              type="button"
            >
              add to Watched
            </button>
          </li>
          <li class="modal-buttons-item">
            <button
              class="modal-btn-add card__btn-que header-btn-add--queue uppercase-text js-queue"
              type="button"
            >
              add to queue
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="backdrop2 is-hidden">
  <div class="modal2">
    <button type="button" class="modal-close-btn2 close"></button>
    <div id="player"></div>
    <div class="block-btn-trailer"></div>
  </div>
</div>
<!-- </div> -->
